<%= turbo_frame_tag "sandbox_stats_#{sandbox.id}" do %>
  <% if stats %>
    <span class="text-xs text-gray-500">MEM <span class="font-mono font-medium"><%= stats[:memory_mb].round(0) %></span><% if stats[:memory_limit_mb] && stats[:memory_limit_mb] > 0 %>/<span class="font-mono"><%= stats[:memory_limit_mb].round(0) %></span><% end %> MB</span>
  <% end %>
<% end %>
