service: sandcastle
image: sandcastle

ssh:
  user: thies

servers:
  web:
    hosts:
      - 100.79.246.119
    options:
      group-add: incus-admin

volumes:
  - /var/lib/incus/unix.socket:/var/lib/incus/unix.socket
  - /data:/data
  - sandcastle-storage:/rails/storage

proxy:
  ssl: false
  host: 100.79.246.119
  app_port: 80
  response_timeout: 60
  healthcheck:
    path: /up

registry:
  server: 100.126.147.91:4443
  username: kamal
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    SANDCASTLE_HOST: 100.79.246.119
    SANDCASTLE_DATA_DIR: /data
  secret:
    - SECRET_KEY_BASE
    - RAILS_MASTER_KEY

builder:
  arch: amd64
