service: sandcastle
image: sandcastle

ssh:
  user: thies

servers:
  web:
    hosts:
      - 100.65.155.100
    options:
      group-add: 988

volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  - /data:/data
  - sandcastle-storage:/rails/storage

proxy:
  ssl: true
  host: demo.sandcastle.rocks
  app_port: 80
  response_timeout: 60
  healthcheck:
    path: /up

registry:
  server: 100.126.147.91:4443
  username: kamal
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    SANDCASTLE_HOST: demo.sandcastle.rocks
    SANDCASTLE_DATA_DIR: /data
  secret:
    - SECRET_KEY_BASE
    - RAILS_MASTER_KEY
    - GITHUB_CLIENT_ID
    - GITHUB_CLIENT_SECRET
    - GOOGLE_CLIENT_ID
    - GOOGLE_CLIENT_SECRET

builder:
  arch: amd64
