service: sandcastle
image: sandcastle

ssh:
  user: thies

servers:
  web:
    hosts:
      - 100.65.155.100
    options:
      group-add: 988
      network: sandcastle-web
      network-alias: sandcastle-web

volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  - /data:/data
  - sandcastle-storage:/rails/storage

registry:
  server: 100.126.147.91:4443
  username: kamal
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    SANDCASTLE_HOST: demo.sandcastle.rocks
    SANDCASTLE_DATA_DIR: /data
  secret:
    - SECRET_KEY_BASE
    - RAILS_MASTER_KEY
    - GITHUB_CLIENT_ID
    - GITHUB_CLIENT_SECRET

builder:
  arch: amd64

accessories:
  traefik:
    image: traefik:v3.3
    host: 100.65.155.100
    port:
      - "80:80"
      - "443:443"
    volumes:
      - /data/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - /data/traefik/dynamic:/data/dynamic:ro
      - /data/traefik/acme.json:/data/acme.json
    options:
      network: sandcastle-web
