<p>You've been invited to <strong>Sandcastle</strong>, a self-hosted shared Docker sandbox platform.</p>

<% if @invite.message.present? %>
  <p><%= simple_format(@invite.message) %></p>
<% end %>

<p>
  Click the link below to create your account:<br>
  <%= link_to "Accept Invite", new_registration_url(token: @invite.token) %>
</p>

<p>This link will expire in 7 days.</p>
