<p>Hi <%= @user.name %>,</p>

<p>You've been invited to <strong>Sandcastle</strong>, a self-hosted shared Docker sandbox platform.</p>

<p>
  Click the link below to set your password and activate your account:<br>
  <%= link_to "Accept Invite", edit_invite_url(token: @user.generate_token_for(:invite)) %>
</p>

<p>This link will expire in 72 hours.</p>
