DOCKYARD_ROOT=${DOCKYARD_ROOT}
DOCKYARD_DOCKER_PREFIX=${DOCKYARD_DOCKER_PREFIX}
DOCKYARD_BRIDGE_CIDR=${DOCKYARD_BRIDGE_CIDR}
DOCKYARD_FIXED_CIDR=${DOCKYARD_FIXED_CIDR}
DOCKYARD_POOL_BASE=${DOCKYARD_POOL_BASE}
DOCKYARD_POOL_SIZE=${DOCKYARD_POOL_SIZE}
